.visit-card {
	align-self: flex-start;
	position: relative;
	padding: 7px 10px;
	width: 200px;
	border: 2px solid $main-red;
	border-radius: 3px;
	//flex-shrink: 1;
	margin-bottom: 10px;
	transition: top .3s ease;
	&:not(:last-child) {
		margin-right: 10px;
	}



	&__header {
		text-align: right;
		border-bottom: 1px solid $main-red;
		padding-bottom: 7px;
		margin-bottom: 7px;
	}

	&__buttons {
		display: inline-flex;
		align-items: center;
	}
}

.main-info {

	margin-bottom: 7px;

	&__item {

		&--name {
			font-weight: bold;
			margin-bottom: 7px;
		}
	}
}

.additional-info {
	border-top: 1px solid $main-red;
	font-size: 14px;
	padding-top: 7px;

	&-item {
		margin-bottom: 5px;

		&__name {
			font-weight: bold;
			display: block;
			margin-bottom: 3px;
		}
	}
}

.visit-card.over {
	border-style: dashed;
}