.btn {
	position: relative;
	top: 0;
	display: inline-block;
	border: none;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
}

.btn--basic {
	border-radius: 3px;
	font-size: 18px;
	padding: 10px 5px;
	min-width: 170px;
	box-shadow: 0 0 0 rgba(0,0,0, .3);
	transition: top .2s ease, box-shadow .3s ease;
	min-height: 41px;
}

.btn--basic:hover, .btn--basic:active {
	top: -3px;
	box-shadow: 0 2px 7px rgba(0,0,0, .3);
}

.btn--create {
	background-color: $main-red;
	color: $sand-light;
}

.btn--icon {
	font-size: 18px;
	color: $dark-gray;
	background-color: transparent;
	padding: 0 2px;
	display: flex;
	align-items: center;
	transition: color .2s ease;

	&:hover, &:active {
		color: $main-red;

	}
}

.btn--load {
	width: 100%;
	border: 1px solid $main-red;
	border-radius: 2px;
	background-color: transparent;
	color: $main-red;
	font-weight: bold;
	padding: 3px 0;
}


