.header {
	background-color: $sand-light;
	padding: 15px 0;

	&-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {

	&__link {
		color: $main-red;
		font-size: 28px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

