.sk-double-bounce {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.sk-child {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: white;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		animation: sk-double-bounce 2.0s infinite ease-in-out;
	}

	.sk-double-bounce-2 {
		animation-delay: -1.0s;
	}
}

@keyframes sk-double-bounce {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.0);
	}
}