.cards {
	padding: 30px 15px;

	&-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		overflow-x: auto;
		border: 2px solid $main-dark;
		border-radius: 5px;
		height: 80vh;
		width: 100%;
		padding: 10px 20px;
		box-sizing: border-box;

		&__empty:after {
			content: 'Пока вы не создали ни одного визита';
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 26px;
			transform: translate(-50%, -50%);
			color: $dark-gray;
		}
	}
}