.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 200;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&-content {
		position: absolute;
		width: 400px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 2px solid $main-red;
		background-color: $light-gray;
		border-radius: 5px;
		padding: 15px 25px;
		max-height: 80%;
		overflow: auto;
	}

	&-header {
		display: flex;
		justify-content: flex-end;
		border-bottom: 2px solid $main-red;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	&-body {
		margin-bottom: 25px;
	}

	&-heading {
		font-size: 24px;
		color: $main-red;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&-footer {
		display: flex;
		justify-content: center;
	}
}

.backdrop {
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.56);
	backdrop-filter: blur(3px);
}

.visit-select {
	border: 1px solid $main-red;
	outline: none;
	padding: 10px;
	width: 100%;
	margin-bottom: 15px;
}


.visit {


	&__label {
		display: inline-block;
		line-height: 16px;
		margin-bottom: 4px;
		font-weight: bold;
		font-size: 14px;
		text-align: justify;
		width: 100%;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 5px;
		font-size: 16px;
		box-sizing: border-box;
		outline-color: $main-red;
		margin-bottom: 10px;
	}

	&__textarea {
		resize: none;
		width: 100%;
		padding: 5px;
		font-size: 16px;
		box-sizing: border-box;
		outline-color: $main-red;
		font-family: sans-serif;
		margin-bottom: 10px;
	}
}

.modal.shown {
	display: block;
}

