@import "~reset-css/sass/reset";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "vars";
@import "components";
@import "header";
@import "main";
@import "card";
@import "modal";
@import "loader";

a {
	text-decoration: none;
	color: inherit;
}

.app {
	font-family: sans-serif;
	color: $main-dark;
	height: 100vh;
	background-color: $light-gray;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: auto;
}



